#skills {
  padding: 100px 10%;
  text-align: center;
}

#skills h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #a855f7;
  text-shadow: 0 0 15px #a855f7;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
}

.skill-card {
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  transition: 0.3s;
  font-weight: 500;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(168, 85, 247, 0.6);
}
