#education,
#experience {
  padding: 100px 10%;
  text-align: center;
}

#education h2,
#experience h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #38bdf8;
  text-shadow: 0 0 15px #38bdf8;
}

.timeline {
  max-width: 800px;
  margin: auto;
}

.timeline-item {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.timeline-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.4);
}

.timeline-item h3 {
  margin-bottom: 10px;
  color: #a855f7;
}

.timeline-item span {
  display: block;
  margin-bottom: 10px;
  opacity: 0.8;
}
.timeline-item ul {
  margin-top: 10px;
  padding-left: 20px;
  text-align: left;
}

.timeline-item li {
  margin-bottom: 6px;
  color: #cbd5e1;
}
@media (max-width: 768px) {
  .timeline {
    padding: 0 20px;
  }

  .timeline-item {
    text-align: center;
  }
}
