body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(ellipse at bottom, #020617 0%, #000 70%);
  color: white;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 3rem;
  color: #38bdf8;
  text-shadow: 0 0 20px #38bdf8;
}
